body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
  text-align: center;
}

nav {
  background: #111827;
  padding: 15px;
}

header {
  padding: 70px 20px;
  background: linear-gradient(135deg, #00ffcc, #0066ff);
  color: black;
}

/* SECTIONS */
.section {
  padding: 40px 20px;
}

/* ROOMS */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px;
}

.card {
  background: #141b2d;
  padding: 20px;
  width: 180px;
  border-radius: 12px;
}

/* GALLERY */
.gallery {
  padding: 40px 20px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  width: 120px;
  height: 80px;
  background: #1c2540;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  opacity: 0.8;
}

/* BOOKING */
.booking {
  background: #141b2d;
  margin: 30px auto;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #00ffcc;
  border: none;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

/* FOOTER */
footer {
  padding: 20px;
  opacity: 0.6;
}
